In [3]:
Q1. Create a list called years_list, starting with the year of your birth, and each year thereafter
until the year of your fifth birthday. For example, if you were born in 1980. 
the list would be years_list = [1980, 1981, 1982, 1983, 1984, 1985].

Ans:

years_list = [i for i in range(1997,1997+6)]
years_list

[1997, 1998, 1999, 2000, 2001, 2002]

In [4]:
Q2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

Ans:

years_list[3]

2000

In [6]:
Q3. In the years list, which year were you the oldest?

Ans:

years_list[-1]

2002

In [7]:
Q4. Make a list called things with these three strings as elements: "mozzarella", "cinderella", "salmonella".
    
Ans:

things =list(["mozzarella", "cinderella", "salmonella"])
things

['mozzarella', 'cinderella', 'salmonella']

In [9]:
Q5. Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?

Ans:

for i in range (len(things)):
    if things[i]== 'cinderella':
        things[i] = things[i].capitalize()
        
print(things)

['mozzarella', 'Cinderella', 'salmonella']

In [14]:
Q6. Make a surprise list with the elements "Groucho," "Chico," and "Harpo."

Ans:

surprise = list(["Groucho", "Chico" , "Harpo"])
surprise

['Groucho', 'Chico', 'Harpo']

In [22]:
Q7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

Ans:

a= surprise[-1].lower()
b= surprise[-1][::-1]
c= surprise[-1][::-1].capitalize()
print(a,b,c)

harpo opraH Oprah

In [28]:
Q8. Make an English-to-French dictionary called e2f and print it. Here are your 
starter words: dog is chien, cat is chat, and walrus is morse.

Ans:

e2f= {'dog':'chien','cat':'chat', 'walrus':'morse'}

In [29]:
Q9. Write the French word for walrus in your three-word dictionary e2f.

Ans:

e2f['walrus']

'morse'

In [36]:
Q10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

Ans:

f2e = dict((key,value) for value,key in e2f.items())
f2e

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

In [37]:
Q11. Print the English version of the French word chien using f2e.

Ans:
    
f2e['chien']

'dog'

In [39]:
Q12. Make and print a set of English words from the keys in e2f.

Ans:

print(e2f.keys())

dict_keys(['dog', 'cat', 'walrus'])

In [40]:
Q13. Make a multilevel dictionary called life. Use these strings for the topmost keys:'animals', 'plants', and 'other'. Make the 'animals' key refer to 
another dictionary with the keys' cats', 'octopi', and 'emus'. Make the 'cats' key refer to a list of strings 
with the values 'Henri', 'Grumpy', and 'Lucy'. Make all the other keys refer to empty dictionaries.
    
Ans:

life = {'animal':{'cat':['Herni','Grumpy','Lucy'], 'octopi':'','emus':''},
       'plants':'','other': ''}
life

{'animal': {'cat': ['Herni', 'Grumpy', 'Lucy'], 'octopi': '', 'emus': ''},
 'plants': '',
 'other': ''}

In [41]:
Q14. Print the top-level keys of life.

Ans:

life.keys()

dict_keys(['animal', 'plants', 'other'])

In [43]:
Q15. Print the keys for life['animals'].

Ans:

life['animal'].keys()

dict_keys(['cat', 'octopi', 'emus'])

In [44]:
Q16. Print the values for life['animals']['cats']

Ans:

life['animal']['cat']

['Herni', 'Grumpy', 'Lucy']